<main>
    <div class="hero">
        <div class="hero-img">
            <h1 class="hero-heading">Find the right home for you</h1>
            <div class="search-container">
                <form action="/" method="POST" class="hero-search">
                <div class="hero-search-bar">
                <i class="fas fa-search-location"></i>
                <input type="text" name="city" placeholder="City  eg. London" class="hero-search-bar-input">
                </div>
                <button type="submit" class="search-btn">Search</button>
                </form>
            </div>
        </div>
        <div class="hero-effect"></div>
     </div>
     <div class="features-container">
   <div class="features"></div>
   <div class="features"></div>
   <div class="features"></div>
</div>

</main>