<main>
    <div class="hero">
        <div class="hero-img">
            <h1 class="hero-heading">Find the right home for you</h1>
            <div class="search-container">
                <form action="/for-rent/search" method="GET" class="hero-search">
                <div class="hero-search-bar">
                    <label for="hero-search-input"><i class="fas fa-search-location"></i></label>
                <select name="location" id="hero-search-input">
                    {{#each locationList}}
                    <option value="{{this}}">{{this}}</option>option>
                    {{/each}}
                </select>
            </div>
                <button type="submit" class="search-btn">Search</button>
                </form>
        </div>
        <div class="hero-effect"></div>
     </div>
     <div class="features-container">
   <div class="features"></div>
   <div class="features"></div>
   <div class="features"></div>
</div>

</main>