<main>
  <div class="hero-img">
    <h1 class="hero-heading">Find the right home for you</h1>
    <div class="search-container">
      <form action="/for-rent/search" method="GET" class="hero-search">
        <div class="hero-search-bar">
          <label for="hero-search-input"><i
              class="fas fa-search-location"
            ></i></label>
          <select name="location" id="hero-search-input">
            {{#each locationList}}
              <option value="{{this}}">{{this}}</option>option>
            {{/each}}
          </select>
        </div>
        <button type="submit" class="search-btn">Search</button>
      </form>
    </div>
    <div class="hero-effect"></div>
  </div>
  <div class="features-container">
    <h2 class="header">How does it work?</h2>
    <div class="features-inner-container">
      <div class="features">
        <i class="fas fa-search features-icon"></i>
        <h3>Search for houses in your location</h3>
      </div>
      <div class="features">
        <i class="fas fa-heart features-icon"></i>
        <h3>Fall in love with the perfect one for you</h3>
      </div>
      <div class="features">
        <i class="fas fa-house-user features-icon"></i>
        <h3>Move and start enjoining your home</h3>
      </div>
    </div>

  </div>
  <div class="start-now">
    <h2 class="start-now-header">Got a house to let?</h2>
    <h3 class="start-now-sub-header">Post a free ad and rent your house in days.</h3>
    <a href="/signup" class="start-now-btn">Start now</a>
  </div>

</main>