<form method="POST", action="/login">
<label>Username:</label>
<input type="text" name="username" >
<label>Password:</label>
<input type="password" name="password" >
<button id="login">Login</button>
</form>
{{#if msg}}
    <h3>{{msg}}</h3>
{{/if}}