<main class="auth">
    <div class="auth-container">
        <h1>Login</h1>
        <form method="POST", action="/login" class="auth-form">
        <div class="auth-form-input">
            <label>Username:</label>
            <input type="text" name="username" >
        </div>
        <div class="auth-form-input">
            <label>Password:</label>
            <input type="password" name="password" >
        </div>
            <button class="auth-btn">Login</button>
        </form>
        {{#if msg}}
            <h3>{{msg}}</h3>
        {{/if}}

    </div>
</main>
