<main class="auth">
    <div class="auth-container">
        <h1>Login</h1>
        <form method="POST", action="/login" class="auth-form">
        <div class="auth-form-input">
            <label>Username:</label>
            <input type="text" name="username" required>
        </div>
        <div class="auth-form-input">
            <label>Password:</label>
            <input type="password" name="password" required>
        </div>
        <div class="errorMsg">
            {{#if msg}}
            <p>{{msg}}</p>
        {{/if}}
        </div>
            <button type="submit" class="auth-btn">Enter</button>
        </form>

    </div>
</main>
