<main class="auth">
    <form method="POST", action="/new-house" enctype="multipart/form-data">
<label>Title:</label>
<input type="text" name="title">
<label>Location:</label>
<input type="text" name="location">
<label>m2:</label>
<input type="text" name="area">
<label>Number of rooms:</label>
<input type="text" name="rooms">
<label>Photo:</label>
<input type="file" name="photo" >
<label>Description:</label>
<textarea name="description">eg. Spacious T3 flat in central London...</textarea>
<label>Price/month:</label>
<input type="text" name="price">
<label>Active add:</label>
<input type = "checkbox" name ="active">
<button type="submit">Create house</button>
</form>
{{#if msg}}
    <h3>{{msg}}</h3>
{{/if}}

</main>
