<form method="POST", action="/newHouse">
<label>Title:</label>
<input type="text" name="title">
<label>Location:</label>
<input type="text" name="location">
<label>m2:</label>
<input type="text" name="area">
<label>Number of rooms:</label>
<input type="text" name="rooms">
{{!-- TODO: ADD INPUT TO ADD THE PICTURES --}}
<label>Description:</label>
<textarea name="description">eg. Spacious T3 flat in central London...</textarea>
<label>Price/month:</label>
<input type="text" name="price">
<label>Active add:</label>
<input type = "checkbox" name ="active">
</form>