body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
main {
  flex-shrink: 0;
  flex-grow: 1;
}

.logo {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
.navbar-container {
  background-color: white;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.navbar {
  display: flex;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: white;
  margin: 0;
  height: 64px;
  padding: 0 10%;
}
.navbarNav {
  background-color: white;
}
.navbar a {
  color: rgb(49, 48, 51) !important;
  margin-right: 16px;
}
.navbar a:hover {
  color: rgba(67, 45, 118, 0.733) !important;
  font-weight: bold !important;
}
#navbar-auth-btn {
  color: rgba(67, 45, 118, 0.733);
  border-radius: 5px;
  border: 2px solid rgba(67, 45, 118, 0.733);
  margin-right: 16px;
  padding: 4px 8px;
  background-color: transparent;
  color: rgb(49, 48, 51);
}
#navbar-auth-btn:hover {
  color: rgba(71, 8, 98, 1) !important;
  font-weight: bold !important;
  background-color: rgb(255, 196, 0);
}
.navbar-toggler {
  color: rgb(49, 48, 51);
}
#logo-text {
  color: rgba(67, 45, 118, 0.733);
  font-weight: bold;
}
.hero-img {
  background-image: url("../images/city-hero-img.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.hero-heading {
  color: white;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  z-index: 10;
}
.hero-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(71, 8, 98);
  background: linear-gradient(
    0deg,
    rgba(71, 8, 98, 1) 0%,
    rgba(71, 8, 98, 0.1407913507199755) 70%,
    rgba(71, 8, 98, 0) 100%
  );
}
.search-container {
  width: 40%;
  height: 150px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-search {
  width: 90%;
  display: flex;
  justify-content: space-around;
}
.hero-search-bar {
  width: 80%;
  border: none;
  border-radius: 10px;
  padding-left: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 16px;
}
.hero-search-bar i {
  margin-right: 4px;
}
#hero-search-input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 93%;
}
.search-btn {
  background-color: rgb(255, 196, 0);
  color: rgba(71, 8, 98, 1);
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
}
.features-container {
  background-color: rgba(71, 8, 98, 1);
  padding: 32px 48px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}
.features-inner-container {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-around;
}
.features {
  width: 20%;
  font-size: 18px;
  margin: 72px 0;
}
.features-icon {
  font-size: 54px;
  margin-bottom: 48px;
}
.start-now {
  padding: 100px 72px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start-now-header {
  margin-bottom: 72px;
  font-size: 54px;
  text-align: center;
}
.start-now-sub-header {
  margin-bottom: 72px;
  text-align: center;
  font-weight: lighter;
}
.start-now-btn {
  width: fit-content;
  background-color: rgb(255, 196, 0);
  color: rgba(71, 8, 98, 1) !important;
  font-weight: bold;
  padding: 16px 32px;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;
}
.auth {
  width: 100%;
  min-height: calc(100vh - 112px);
  background-color: rgba(71, 8, 98, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-heading {
  color: white;
  font-size: 48px;
  margin-bottom: 24px;
}
.auth-container {
  width: 30%;
  max-width: 1800px;
  background-color: rgba(255, 255, 255, 0.609);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-container h1 {
  margin: 8px 0 24px 0;
  color: rgb(49, 48, 51);
}
.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
.auth-form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.auth-form-input input {
  border-radius: 10px;
  border: none;
  padding: 4px 8px;
  outline: none;
  width: 20vw;
}
.auth-form-input textarea {
  border-radius: 10px;
  border: none;
  padding: 4px 8px;
  outline: none;
  width: 20vw;
  height: 200px;
}
.auth-btn {
  margin: 8px 0 24px 0;
  background-color: rgb(255, 196, 0);
  color: rgba(71, 8, 98, 1);
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
}
.errorMsg {
  color: red;
  font-size: 16px;
  padding: 16px;
}
.for-rent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: 100%;
  background-color: rgba(71, 8, 98, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 16px 0;
  color: white;
}
.for-rent-search {
  width: 20%;
}
.for-rent-search-input {
  border: none;
  outline: none;
  width: 60%;
  padding: 8px 16px;
  border-radius: 10px;
}
.houses-list-container {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(71, 8, 98, 0.274);
  margin: 24px 0;
  border-radius: 15px;
}
.house-card {
  background-color: white;
  width: 250px;
  height: 408px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  border-radius: 15px;
  border: 2px solid rgb(71, 8, 98);
  margin: 32px;
}
.house-card-img {
  width: 250px;
  height: 188px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 2px solid rgb(71, 8, 98);
  border-bottom: none;
  margin: -3px;
}
.house-card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.house-title {
  font-size: 16px;
  padding: 4px 16px;
  overflow: hidden;
  height: 40px;
  width: inherit;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.house-info-card {
  font-size: 16px;
}
.house-card-info-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
  width: inherit;
}
.house-info-w-icon {
  padding: 8px 0 4px 4px;
  font-size: 14px;
}
.house-info-icon {
  width: 14px;
  height: 14px;
}
.price {
  font-size: 14px;
  color: rgb(49, 48, 51);
  padding: 4px 16px;
}
.house-info {
  font-size: 14px;
  padding: 4px 16px;
}
.house-info-measures {
  display: flex;
  flex-direction: row;
}
.house-info-measures h2 {
  display: inline;
  font-size: 14px;
  padding: 4px 16px;
}
#house-info-btn {
  margin: 0 16px;
  color: rgba(71, 8, 98, 1);
}
.house-info-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.profile-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 72px;
}
.profile-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.profile-house-list {
  margin-right: 48px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-house-list-header {
  width: 100%;
  margin-bottom: 48px;
  color: rgb(71, 8, 98);
  font-weight: bold;
}
.profile-new-house-btn-container {
  display: flex;
  justify-content: end;
  width: 100%;
}
.profile-new-house-btn {
  padding: 8px 16px;
  margin: 24px;
  background-color: rgb(255, 196, 0);
  color: rgb(71, 8, 98);
  font-weight: bold;
  border-radius: 15px;
  text-decoration: none;
}
.profile-new-house-btn:hover {
  color: rgb(71, 8, 98);
}
.profile-contact-details {
  width: 30%;
  background-color: rgba(70, 0, 100, 0.274);
  border-radius: 15px;
  padding: 32px;
}
.profile-contact-details-current {
  border: 1px solid rgb(70, 0, 100);
  padding: 8px 16px;
  margin-bottom: 32px;
  text-align: center;
}
.profile-contact-details-form {
  width: 100%;
  height: 300px;
  padding: 8px 16px;
}
.profile-contact-details-edit-btn {
  background-color: rgb(255, 196, 0);
  padding: 8px 16px;
  border-radius: 15px;
  border: none;
  color: rgb(71, 8, 98);
  font-weight: bold;
  margin-top: 16px;
}
.edit-profile-icon {
  width: 14px;
  height: 14px;
  color: rgb(71, 8, 98);
  margin: 8px;
}
.profile-table {
  width: 100%;
}
.profile-table-header {
  border-bottom: 3px solid rgb(71, 8, 98);
}
.profile-table th,
.profile-table td {
  padding: 0 0 8px 16px;
}
.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.profile-table-manage {
  display: flex;
  flex-direction: row;
}
.profile-table-manage-btn {
  padding: 4px;
  margin-right: 16px;
  border: none;
  background-color: transparent;
}
.create-update-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-update-container {
  background-color: rgba(70, 0, 100, 0.274);
  border-radius: 15px;
  width: 90%;
  margin: 48px 0 48px 0;
  padding: 32px;
}
.create-update-fields {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 24px;
}
.create-update-fields-input {
  border-radius: 8px;
  border: none;
  padding: 4px 8px;
  outline: none;
}
#create-update-active-container {
  margin-bottom: 48px;
  display: flex;
  align-items: center;
}
#create-update-active-label {
  margin-right: 8px;
  font-size: 18px;
}
#create-update-active {
  align-items: center;
  width: 18px;
  height: 18px;
}
.create-update-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-update-active-btn {
  background-color: rgb(255, 196, 0);
  padding: 16px 48px;
  border-radius: 15px;
  border: none;
  color: rgb(71, 8, 98);
  font-weight: bold;
}
.house-info-container {
  display: flex;
  padding: 72px;
}
.house-info {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
  text-align: justify;
}
.house-info-img {
  object-fit: cover;
}
.house-info-title {
  width: 100%;
  margin: 16px 32px;
}
.house-info-measures {
  width: 100%;
  display: flex;
}
.house-info-price {
  color: rgba(49, 48, 51, 0.746);
  width: 100%;
  margin: 16px 32px;
}
.house-info-description {
  margin-top: 16px;
}
.contact-details {
  width: 30%;
  background-color: rgba(70, 0, 100, 0.274);
  border-radius: 15px;
  padding: 32px;
  height: fit-content;
}
.contact-details-info {
  color: rgba(49, 48, 51, 0.746);
}
.red {
  background-color: rgba(255, 99, 71, 0.555);
}
.green {
  background-color: rgba(153, 205, 50, 0.555);
}
footer {
  width: 100%;
  height: 48px;
  background-color: rgb(31, 31, 31);
  color: white;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 72px;
  font-style: italic;
  z-index: 990;
}
.social-media {
  width: 72px;
  display: flex;
  justify-content: space-between;
}
.footer-icon {
  font-size: 30px;
}
.social-media a {
  color: white;
}

.customModal {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  border-radius: 15px;
  z-index: 999;
  border: 2px solid grey;
}
.customModal-btn-container {
  display: flex;
  justify-content: end;
}
.customModal-btn {
  width: fit-content;
  background-color: transparent;
  border: none;
  color: red;
  font-size: 24px;
}
/ @media only screen and (max-width: 1020px) {
  .navbar {
    padding: 0;
  }
  #logo-text {
    font-size: 18px;
  }
  .hero-heading {
    font-size: 48px;
  }
  .search-container {
    width: 90%;
  }
  .features-inner-container {
    flex-direction: column;
    align-items: center;
  }
  .features {
    width: 90%;
  }
  .start-now-header {
    font-size: 24px;
  }
  .start-now-sub-header {
    font-size: 18px;
  }
  .start-now-btn {
    font-size: 24px;
    padding: 8px 16px;
  }
  .auth-container {
    width: 90%;
    margin-bottom: 24px;
  }
  .auth-form-input input {
    width: 90%;
  }
  .signup-heading {
    font-size: 16px;
    padding: 16px;
  }
  .auth-form-input input {
    width: 100%;
  }
  .auth-form textarea {
    width: 100%;
  }
  .header {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
  }
  .for-rent-search {
    width: 80%;
  }
  .house-info-container {
    padding: 16px;
    flex-direction: column;
    align-items: center;
  }
  .house-info {
    width: 90%;
    margin: 0;
    padding: 0;
  }
  .house-info-img {
    width: inherit;
  }
  .contact-details {
    width: 90%;
  }
  .profile-container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
  }
  .profile-contact-details {
    width: 90%;
    margin: 48px 0;
  }
  .profile-house-list {
    margin: 0;
    font-size: 14px;
    display: flex;
    align-items: stretch;
  }
  .hide {
    display: none;
  }
  footer {
    font-size: 14px;
    padding: 0 8px;
  }
}
