body {
  margin: 0;
}
.logo {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: white;
  margin: 0;
  height: 64px;
}
.navbar a {
  color: rgb(49, 48, 51);
}
.navbar a:hover {
  color: rgba(67, 45, 118, 0.733);
  font-weight: bold;
}
#logo-text {
  color: rgba(67, 45, 118, 0.733);
  font-weight: bold;
}
.hero {
  height: 600px;
  position: relative;
}
.hero-img {
  background-image: url("../images/city-hero-img.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.hero-heading {
  color: white;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  z-index: 10;
}
.hero-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(71, 8, 98);
  background: linear-gradient(
    0deg,
    rgba(71, 8, 98, 1) 0%,
    rgba(71, 8, 98, 0.1407913507199755) 70%,
    rgba(71, 8, 98, 0) 100%
  );
}
.search-container {
  width: 40%;
  height: 150px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-search {
  width: 90%;
  display: flex;
  justify-content: space-around;
}
.hero-search-bar {
  width: 80%;
  border: none;
  border-radius: 10px;
  padding-left: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 16px;
}
.hero-search-bar i {
  margin-right: 4px;
}
#hero-search-input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 93%;
}
.search-btn {
  background-color: rgb(255, 196, 0);
  color: rgba(71, 8, 98, 1);
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
}

.features-container {
  height: 400px;
  width: 100%;
  background-color: rgba(71, 8, 98, 1);
}
.auth {
  width: 100%;
  height: 100vh;
  background-color: rgba(71, 8, 98, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.signup-heading {
  color: white;
  font-size: 48px;
  margin-bottom: 48px;
}
.auth-container {
  width: 30%;
  max-width: 1800px;
  background-color: rgba(255, 255, 255, 0.609);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-container h1 {
  margin: 8px 0 24px 0;
  color: rgb(49, 48, 51);
}
.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
.auth-form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.auth-form-input input {
  border-radius: 10px;
  border: none;
  padding: 4px 8px;
  outline: none;
  width: 20vw;
}
.auth-form-input textarea {
  border-radius: 10px;
  border: none;
  padding: 4px 8px;
  outline: none;
  width: 20vw;
  height: 200px;
}
.auth-btn {
  margin: 8px 0 24px 0;
  background-color: rgb(255, 196, 0);
  color: rgba(71, 8, 98, 1);
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
}
.errorMsg {
  color: red;
  font-size: 16px;
}
.profile {
  width: 100%;
  margin-top: 10%;
}
.for-rent {
}
.for-rent-header {
  background-color: rgba(71, 8, 98, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
